<div class="container">
    <div class="row">
        <h1 class="page-header">
            <%= h @document_info.title %>
            <small><strong>version: <%= h @document_info.version %></strong></small>
        </h1>
        <p><%= h @document_info.description %></p>
        <h1 class="page-header">
            Paths
        </h1>
        <section>
            <% @document_paths.paths.each do |method| %>
                <%= render_api_method(method) %>
            <% end %>
        </section>
    </div>
</div>